 /* * {
    border: solid 1px black;
}    */

span {
    padding-left: 0px;
    padding-right: 0px;
}

    /* Alinhando ícone à direita */
#wifi-align {
    border: 0px;
    padding: 0px;
}

    /* Faz com que o cabeçalho não quebra a linha */
@media only screen and (max-width:990px){
    #no-wrap {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
}  

div #lateral-categoria, #lateral-produtos {
    border: solid 1px lightgray;
}

div #lateral-categoria {
    max-height: 706px;
    overflow-y: scroll; /* Barra de rolagem oculta */
}

/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 1px;
}

    /* Estilização do texto no card na lateral da pagina produto pedido */
div .card-body {
    padding: 5px;
    max-height: 706px;
}

#ingNum {
    border: solid 1px black;
    font-size: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
}