 /* * {
    border: solid 1px black;
}     */

span {
    padding-left: 0px;
    padding-right: 0px;
}

alo
    /* Alinhando ícone à direita */
#wifi-align {
    border: 0px;
    padding: 0px;
}

    /* Faz com que o cabeçalho não quebra a linha */
@media only screen and (max-width:990px){
    #no-wrap {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
}  

div .borderGray {
    border: solid 1px lightgray;
}

div #lateral-categoria {
    max-height: 540px;
    overflow-y: scroll; /* Barra de rolagem oculta */
}

#lateral-categoria .card {
    width: 100% \9;
}

div #lateral-produtos {
    max-height: 540px;
    overflow-y: scroll; /* Barra de rolagem oculta */
}

/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 1px;
} 

    /* Estilização do texto no card na lateral da pagina produto pedido */
div .card-body {
    padding: 5px;
    max-height: 706px;
}

.inputshow {
    font-size: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn {
    border-radius: 4px;
}


.vertAlign {
    margin: auto;
    width: 50%;
    padding: 10px;
}
/* 
div#opt {
    cursor: pointer;
    border-radius: 8px;
}
div#opt:hover {
    background-color: #007bff;
    transition: 0.5s;
    color: white;
    cursor: pointer;
} */

.itemHover, .card {
    cursor: pointer;
    border-radius: 8px;
}

.itemHover:hover, .card:hover {
    background-color: #007bff;
    transition: 0.5s;
    color: white;
    cursor: pointer;
}

.sliderItens {
    max-height: 200px;
    overflow-x: scroll;
    padding-top: 10px;
    padding-bottom: 5px;
    vertical-align: baseline;
}

.card-title {
    padding-bottom: 0px;
    margin-bottom: 2px;
}

.customSize {
    max-width: 148px;
}

#preco {
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    color: white;
}